.todo {
    width: 95%;
    background-color: rgb(255, 255, 255, .7);
    color: rgb(35, 35, 35);
    padding: 1rem;
    text-align: left;
    border-radius: .5rem;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}
.todo-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: .5rem;
}
.todo-footer {
    display: flex;
    justify-content: space-between;
    padding: .75rem;
    align-items: center;
    gap: 1rem;
    text-align: center;
}
.todo-footer .buttons {
    display: flex;
    justify-content: space-around;
    gap: 1rem;
    align-items: center;
}
@media ( max-width: 768px ) {
    .todo-footer {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
.todo-content {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: .1rem .5rem;
    gap: .5rem;
}
.todo-content__buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .25rem;
}
.red { color: rgb(255, 0, 55); font-weight: 900; }
.red.normal { font-weight: 700; }
.green { color: rgb(26, 185, 98); font-weight: 900; }
